logs/*
!logs/.gitkeep
log/
.claude/*
.claude/settings.local.json
.playwright-mcp/*
models/bge-m3-Q8_0.gguf
config/.gemini
config/litellm_config.yaml
pkg/summarize.sh/config.sample.json
config/.summarize
config/.claude
config/.claude.json
config/.claude-mem
config/.hermes
config/ccstatusline
config/tokscale
skills/tmp/*
.gdpa
config/.gbrain
