logs/*
!logs/.gitkeep
log/
.claude/*
.claude/skills/*
!.claude/skills/happy/
!.claude/skills/marketplace-config/
.claude/settings.local.json
.playwright-mcp/*
models/bge-m3-Q8_0.gguf
skills/tmp/*
.gdpa
tmp
data
plans/implementation_plan.md
plans/walkthrough.md
cc-plugin
.antigravitycli
.playwright-cli
plugins/explore/skills/summarize.sh/**
plugins/experiment/skills/summarize.sh/summarize/**
plugins/experiment/skills/scrapling/Scrapling/**
plugins/superpower/**
plugins/understand-anything/**
.codegraphy/*
pkg/model/continue/Continue.*.vsix
