logs/*
!logs/.gitkeep
log/
.claude/*
.claude/settings.local.json
.playwright-mcp/*
models/bge-m3-Q8_0.gguf
pkg/summarize.sh
skills/tmp/*
.gdpa
tmp
data
plans/implementation_plan.md
plans/walkthrough.md
cc-plugin
.antigravitycli
.playwright-cli